body {
    background-color: lightgrey;
    display: flex;
    font-family: 'Yanone Kaffeesatz', verdana, sans-serif, serif;
    font-size: 22px;
    flex-direction: column;
}
h3, h2 {
    font-size: 2em;
    color: blue;
    font-weight: bold;
}
.one {
    margin-right: 45%;
}
section {
    padding: 10%;
}
.sect {
    margin-bottom: 2%;
}
.intro {
    background-color: blue;
    color: white;
    padding: 10%;
}
.title-head {
    font-size: 4em;
    color: white;
    text-align: center;
}
p {
    text-size: 1.2em;
    width: 95%;
}
.sub-title {
    font-size: 2em;
    text-align: center;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
  border: 1px solid;
}
td, th {
    vertical-align: top;
    padding: 0.5%;
    width: 6%;
}
tr:hover {background-color: coral;}
