body {
    display: flex;
    flex-direction: column;
    font-family: 'Trirong', serif, sans-serif;
}
header {
    display: flex;
    justify-content: center;
    align-content: space-between;
}
span {
	margin-left: 20px;
}
section {
    padding-left: 10%;
    margin-right: 2%;
}
section.title {
    background-image: url("/images/cropped.png");
    background-repeat: no-repeat;
    height: 400px;
    background-size: 100% auto;
    color: white;
    padding-bottom: 5%;
}
.title h1 {
    text-align: center;
    font-size: 3em;
}
.title p {
    font-size: 2em;
    color: white;
    margin-top: 10%;
    text-align: center;
}
button {
    background-color: white;
    border-radius: 15%;
    position: relative;
    left: 85%;
    bottom: 25%;
    padding: 1%;
    font-weight: bold;
}
button:hover {
  background-color: #f44336;
}
.places {
    float: right;
    width: 30%;
    height:45%;
}
.conversing {
    padding-left: 10%;
    float: left;
    width: 30%;
    height: auto;
}
.usage {
    float: right;
    width: 30%;
    height: auto;
}
.about {
    background-color: green;
    color: white;
    align-text: center;
    margin-top: 10%;
}
i {
    color: black;
}
#idLinkedInIcon {background-color:rgb(0, 102, 170);
    border-radius:6px;
    color:white;
    cursor:pointer;
    display:inline-block;
    font:bold 35px Arial, Helvetica, sans-serif;
    height:40px;
    margin-top:1px;
    text-align:center;
    width:40px;
}
#idLinkedInIcon:hover{background-color:#06d;}
.fa fa-envelope {
    color: blue;
    font-size: 40;
}
footer {
    padding-left: 10%;
}
